<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>17.01.14Poker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72E7A0A91E2A185300ECA137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E7A0C21E2A185400ECA137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E7A0CD1E2A185400ECA137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
